$fontSize: 15pt;
$margin: 0px;
$whiteBackground: white;
$facebookSignOut: #4267b2;
$buttonBackground: #6f495f;
$mobile: "(max-width: 480px)";
$tablet: "(max-width: 768px)";
$desktop: "(min-width: 769px)";
