.add-property {
  display: flex;
  padding: 30pt;
  align-items: center;
  flex-direction: column;
  font-size: 15pt;
}

.add-property-form {
  display: grid;
  grid-template-columns: auto;
  background-color: white;
  width: 500px;
  height: 650px;
  border-radius: 10px;
}

.form-field {
  padding: 10px;
}

.form-button {
  padding: 10px;
}

input {
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 10pt;
  height: 20px;
  background-color: #fdfab9;
  padding: 5px;
}

select {
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 10pt;
  height: 20px;
  background-color: #fdfab9;
}

button {
  background-color: #6f495f;
  height: 30px;
  width: 50px;
  border-radius: 10px;
  font-size: 12pt;
  color: white;
}