.navbar {
  background-color: white;
  border-bottom: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navbar__logo {
  display: flex;
  flex: 0;
  flex-direction: row;
  height: 60px;
  width: 180px;
}

.navbar-links {
  flex: 1;
  margin: 0px;
  padding: 0px;
}

.navbar-links-item {
  margin: 0px;
  padding: 15px;
  font-size: 15pt;
  display: inline-block;
}

.facebook-login button {
  margin: 0px;
  padding: 5px;
  width: 100%;
  height: 100%;
}
