.navbar {
  background-color: white;
  border-bottom-color: grey;
  display: flex;
  flex-direction: row;
}

.navbar__logo {
  height: 60px;
  width: 180px;
}

.navbar-links {
  margin: 0px;
  padding: 0px;
}

.navbar-links-item {
  margin: 0px;
  padding: 15px;
  font-size: 15pt;
  display: inline-block;
}
