.saved-favourite-card {
  display: flex;
  padding: 20px;
  margin: 30px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
}

.saved-favourite-card-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.saved-favourite-card-remove {
  display: flex;
  flex: -1;
}

.saved-favourite-card-remove button {
  background-color: red;
  box-sizing: border-box;
  border-radius: 10px;
  height: 50px;
  width: 100px;
}
